<%= link_to @board.title, board_path(@board) %>
<hr>
<div class="d-flex flex-column align-items-center mt-3">
  <div class="col-xl-7 col-lg-8 col-md-10 col-sm-11">
    <div class="card">
      <div class="card-header text-center">
        タイトルの編集
      </div>
      <div class="card-body">
        <%= form_for @board do |f| %>
          <div class="field form-group mt-2">
            <div class="col">
              <%= f.text_area :title, class: "form-control", placeholder: "タイトル" %>
            </div>
          </div>
          <div class="text-center">
            <%= f.submit "更新", class: "btn btn-success" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>